extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              +outputOpeningHours(location.openingTimes)
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              +outputFacilities(location.facilities)
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              +outputReviewRows(location.reviews)
    .col-xs-12.col-md-3
      p.lead= sidebar.context
      p= sidebar.callToAction
